<div class="modal modal-signin position-static d-block">
  <div class="modal-dialog">
    <div class="modal-content rounded-5 shadow bg-dark">
      <div *ngIf="errorMessage !== ''">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="modal-header p-5 pb-4 border-bottom-0 text-center">
        <h2 class="text-white fw-bold mb-0">Inscriptions</h2>
      </div>
      <div class="modal-body p-5 pt-0">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="mb-3">
            <label for="nom" class="form-label text-white">Nom :</label>
            <input type="text" formControlName="nom" class="form-control" id="nom">
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label text-white">Prénom :</label>
            <input type="text" formControlName="prenom" class="form-control" id="prenom">
          </div>
          <div class="mb-3">
            <label for="dateNaissance" class="form-label text-white">Date de naissance :</label>
            <input type="Date" formControlName="dateNaissance" class="form-control" id="dateNaissance">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label text-white">E-mail :</label>
            <input type="email" formControlName="email" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="mdp" class="form-label text-white">Mot de passe :</label>
            <input type="password" formControlName="mdp" class="form-control" id="mdp">
          </div>

          <input type="submit" class="w-100 btn btn-lg btn-danger" value="Enregistrer">
        </form>
      </div>
    </div>
  </div>
</div>
